
body{
  margin :0;
  text-align: center;
  font-family: 'Merriweather', serif; /*ask browser to verdana first, if doesn't support verdana it will move to sans-serif */
}
h1{
  font-size: 5.625rem; /*16 px= 100% = 1em */ /* using rem mean root em with not effect to font size on body although body's font size is whatever */
  margin-top: 50px;
  font-family: 'Grandstander', cursive;
}
h2{
  font-size: 2.5rem;
  font-family: 'Kumbh Sans', sans-serif;
  color: #fdcb9e;
  font-weight: 800;
}
h3{
  font-family: 'Kumbh Sans', sans-serif;
  color: #1e5f74;
}
.Top-Container{
  background-color: #3282b8;
  color: #fdcb9e;
  position: relative;
  padding-top: 100px;
}
.middle-container{
  margin: 100px 0px;
}
.intro{
  width:50%;
  margin: 50px auto 50px auto;
}
.bottom-container{
  background-color: #3282b8;
  padding-top: 50px;
  margin-top: 50px;
  padding: 50px 0 20px 0;
}
#major{
text-decoration: underline;
}
.top-cloud{
  position: absolute;
  top: 10%;
  right:30%;
}
.bottom-cloud{
  position: absolute;
  left: 30%;
  bottom: 35%;
}
.my-picture{
  width: 30rem;
  height: 15rem;
}

.skill-row{
  width: 50%;
  text-align: left;
  margin: 100px auto 100px auto;
  line-height: 2;
}
.AI{
  width: 10rem;
  margin-right: 30px;
  margin-bottom: 30px;
  float: left;
}

.web-developer{
  width: 10rem;
  float: right;
  margin-left: 30px;
  margin-bottom: 30px;
}
hr{
  border: dotted #bbe1fa 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.contact-mess{
  width: 50%;
  margin: 50px auto 50px auto;
}
.btn {
  background: white;
  background-image: -webkit-linear-gradient(top, white, white);
  background-image: -moz-linear-gradient(top, white, white);
  background-image: -ms-linear-gradient(top, white, white);
  background-image: -o-linear-gradient(top, white, white);
  background-image: linear-gradient(to bottom, white, white);
  -webkit-border-radius: 26;
  -moz-border-radius: 26;
  border-radius: 26px;
  color: #0f4c75;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #0f4c75 1px;
  text-decoration: none;
  transition: 0.6s;
}

.btn:hover {
  background: #0f4c75;
  text-decoration: none;
  color: white;
}
a{
  color: #fdcb9e;
  text-decoration: none;
  margin: 10px 20px;
}
a:hover{
  color: white;
}
.copyright{
  color: white;
  font-size: 0.75rem;
  padding: 50px 0px 0px;
}
